.artist-info{
    background-color:#FAD02E;
    box-shadow: 0 5px 10px;
    padding: 15px;
    margin: 20px;
}

.artist-name:hover{
    color:#FF0000
}

#artist-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: normal;
}

.artist-bio{
    font-style: italic;
}

